<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script defer src="script.js"></script> -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Login page</h1>
    </center>    

    <main> 
        <!-- username and password -->
        <div class="container-2" id="login_container">
            <div>
                <label id="msg_box" for="msg"></label>
            </div>
                <br>
                <label for="uname"><b>Username</b></label>
                <input type="text" id="uname_box" placeholder="Enter Username" name="uname" required>
                <br>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" id="psw_box" placeholder="Enter Password" name="psw" required>
                <br>
                <br>
                <button id="login_btn" type="submit" >Login</button>
                <label>
                <input type="checkbox" id="remember_me" checked="checked" name="remember"> Remember me
                </label>
        </div>
        
        <!-- approve data -->
        <div class="container-2" hidden id="approve_container">

            <div class="container-2">
                <label >Do you want to approve this actuator report</label>
                <br>
                <br>
                <button type="button" id="apprv_btn" >Approve</button>
                <button type="button" id="dont_apprv_btn" >Do not approve</button>
            </div>
        </div>

        <!-- forget password -->
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>

    </main> 
    <script defer src="main.js"></script>
</body>
</html>